.container {
  background-color: rgb(206, 212, 218);
  margin: auto;
  width: 80%;
  height: 90%;
  padding: 10px;
  font-size: large;
  font-family: Georgia, serif;
  text-align: justify;
}

body {
  background-color: #a60;
}

h1 {
  color: #531;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-align: center;
}
.img {
  text-align: center;
  width: 100%;
  height: 10%;
}
p {
  line-height: 1.4;
  color: black;
}

h3 {
  font-size: 130%;
  color: #840;
}

.sub,
table,
th,
td {
  border: 1px solid black;
  background-color: rgb(206, 212, 218);
  margin: auto;
  width: 80%;
  height: 90%;
  padding: 10px;
  font-size: large;
  font-family: Georgia, serif;
  text-align: justify;
}

.sub1,
ul,
li {
  background-color: rgb(206, 212, 218);
  margin: auto;
  width: 80%;
  height: 90%;
  padding: 10px;
  font-size: large;
  font-family: Georgia, serif;
  text-align: justify;
}
